.main-page {
    background-color: #eee;
}

.app-body-container {
    color: #000;
    text-align: center;
}

.main-page-heading {
    text-align: left;
    background-color: #2C3D4F;
    padding: 20;
}

.main-page-heading .heading-title {
    font-size: 34;
    color: #fff;
}

.main-page-heading .heading-subtitle {
    font-size: 20;
    color: #d6d5d8;
}

.app-body-container .welcome-msg {
    margin: 40 0 25 0;
    font-family: OpenSans-Light;
    font-size: 25;
}

.app-body-container .registration-msg {
    font-family: OpenSans-Regular;
    font-size: 22;
}

.app-body-container .loading-indicator {
    margin: 10 0;
}

.app-body-container .registration-btn {
    height: 70;
    width: 270;
    font-family: OpenSans-Semibold;
    font-size: 20;
    color: #fff;
    background-color: #3497DA;
    overflow: hidden;
    border-width: 0;
    outline: none;
}